body {
  background-image: url("images/pexels-alex-andrews-3805983.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
